/* 전체 틀 크기 */
body {
	width : 1280px;
	margin : auto;
}

table.password_change_table {
	width : 1280px;
	margin : 30px auto;
	border : none;
	padding-bottom : 30px;
	border-radius : 20px;
	box-shadow: 0 2px 24px 0 rgb(58, 59, 69, 15%) !important;
	background-color : white;
}

/* "비밀번호 변경" 간판 설정 */
.password_change_h1 {
	width : 300px;
	height : 100px;
	font-size : 45px;
	text-align : center;
	margin : auto;
	color: black;
	font-weight : bold;
	margin-top : 30px;
}

/* 비밀번호 변경 부가 설명 글 설정 */
.password_change_div{
	width : 400px;
	height : 40px;
	text-align : center;	
	font-size : 18px;
	color : gray;
	margin : auto;
	margin-bottom : 60px;
}

/* 비밀번호 입력칸들 크기 설정 */
input.password_change_input {
	width : 600px;
	height : 70px;
	border : none;
	margin-top : 10px;
	border-radius : 7px;
	padding-left : 10px;
	font-size : 15px;
	box-shadow : 0px 1px 5px 0px rgb(0,69,126, 20%);
}

/*에러 메시지 공간 할당 설정*/
div.error_message {
	width: 600px;
	height: 25px;
	font-size: 17px;
	color: orangered;
	margin-top: 3px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align : left;
}

input.password_change_input:focus {
	box-shadow : 0px 1px 5px 0px rgb(0,69,126, 70%);
	outline : none;
	transition: 0.3s;
}

/* 취소 및 확인버튼 설정 */
.password_change_submit {
	width : 270px;
	height : 60px;
	border : 1px solid gray;
	background-color : #00457E;
	border-width : 0px 0px 1px;
	border-radius : 30px;
	box-shadow : 0px 1px 5px rgb(0, 69, 126, 60%);
	margin-top : 20px;
	margin-bottom : 20px;
	font-size : 20px;
}

.password_change_cancel {
	width : 270px;
	height : 60px;
	border : 1px solid gray;
	border-radius : 30px;
	margin-top : 20px;
	margin-bottom : 20px;
	margin-right : 30px;
	font-size : 20px;
	background-color : white;
	color : black;
}

/* 취소 및 확인 버튼 호버 및 포커스 설정 */
.password_change_cancel:hover {
	font-size : 21px;
	cursor : pointer;
}

.password_change_cancel:focus {
	font-size : 19px;
}

.password_change_submit {
	background-color : #00457E;
	margin-left : 30px;
	color : white;
}

.password_change_submit:hover {
	font-size : 21px;
	cursor : pointer;
}

.password_change_submit:focus {
	font-size : 19px;
}